<div class="card mb-4" id="todo-{{todo.id}}">
  <div class="card-body">
    <div class="input-group d-flex">
      <div class="container mb-4 mt-4">
        <form hx-patch="{{ url_for('todo_update', todo_id = todo.id) }}" hx-swap="outerHTML" hx-target="#todo-{{todo.id}}" >
          <div class="d-flex">
            <input style="width: 100%; {% if todo.done %} text-decoration: line-through; {% endif %}" type="text" name="text" value="{{ todo.text }}">

            <button type="" class="btn ml-2 mr-2 btn-outline-primary">
              <input type="checkbox" {% if todo.done %} checked {% endif %} hx-post="{{ url_for('todo_toggle', todo_id = todo.id) }}" hx-swap="outerHTML" hx-target="#todo-{{todo.id}}" >
            </button>

            <button type="submmit" class="btn ml-2 mr-2 btn-outline-success">SAVE</button>
            <button hx-delete="{{ url_for('todo_delete', todo_id = todo.id) }}" hx-swap="delete show:top" hx-target="#todo-{{todo.id}}" class="btn ml-2 mr-2 btn-outline-danger">REMOVE</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
