{% extends "base/base.html" %}

{% block additional_styles %}
<link href="{{ url_for('static', path='/css/cover.css') }}" rel="stylesheet">
{% endblock %}

{% block bodyclass %} d-flex h-100 text-center text-white bg-dark {% endblock %}

{% block header_nav %}
{% include "includes/header.html" %}
{% endblock %}

{% block main %}
<main>
  <div class="container mb-4 mt-4" style="">
  <form hx-post="{{ url_for('todo_create') }}" hx-target="#todo-list" hx-swap="afterbegin" hx-on:htmx:after-request="this.reset()">
     <div class="d-flex">
       <input class="p-2 flex-fill " type="text" name="todo" placeholder="What do i have to do today?...">
       <button type="submmit" class="p-2 m-2btn btn-outline-success">SAVE</button>
     </div> 
  </form>
  </div>
<div id="todo-list" hx-get="/todos/list" hx-trigger="load" hx-swap="innerHTML">
</div> 
</main>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
