{% extends "layout/base.html" %}


{% block bodyclass %} d-flex h-100 text-center {% endblock %}

{% block header_nav %}
{% include "includes/header.html" %}
{% endblock %}

{% block main %}
{% for todo in todos %}
<div class="card">
  <div class="card-body ">
    <!-- <p class="card-text">To-Do ID: {{ todo.id }}</p> -->
    <!-- <span class="input-group-">With textarea</span> -->
    <div class="input-group">
      <!-- <textarea class="form-control" placeholder="{{ todo.text }}"></textarea> -->
      <input style="width: 80%" type="text" name="todo" value="{{ todo.text }}" sty>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
